
.divide {
  display: flex;
  flex-direction: column;

}

textarea {
  resize: none;
  width: 550px;
  height: 125px;
  margin: 1rem 0;
}

button{
  width: 75px;
  margin: 1rem 0;
}

.lang-result{
  margin: 1.5rem;
  display: inline-block;
  white-space: nowrap;
}
.lang-result h1,h2,h3,h4,h5,h6 {
  display: inline;
}
