<header>
  <nav class="navbar navbar-expand-sm navbar-light">
    <div class="container-fluid">
      <a [routerLink]="'/'" class="navbar-brand"> Home </a>
      <div class="collapse navbar-collapse">
        <div class="navbar-nav">
          <a [routerLink]="'/entityext'" class="nav-link active"> Entity extraction </a>
          <a [routerLink]="'/langdetect'" class="nav-link active"> Language detection </a>
          <a [routerLink]="'/sentiment'" class="nav-link active"> Sentiment analysis </a>
          <a [routerLink]="'/similarity'" class="nav-link active"> Text similarity </a>
          <a [routerLink]="'/history'" class="nav-link active"> History </a>

        </div>
      </div>
    </div>

  </nav>
</header>

<body >
  <router-outlet></router-outlet>
</body>
